.content2 {
    height: 100vh;
    background-image: url(../../assets/BannerForum.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.loginbutton {
    background-color: #3636CD;
    border: 1px solid #ffff;
    border-radius: 20px;
    padding: 8px 28px;
    font-size: 12px;
    color: #ffff;
}

.minifooter {
    height: 100vh;
    background-image: url(../../assets/mini.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.forumPost{
    margin: auto;
    padding-top: 8%;
    width: 60%;
}

.footerForum{
    width: 60%;
    padding-top: 5%;
}

.IconeLista{
    width: 24px;
}

.ListaTopics{
   padding-top: 8%;
   margin-right: 10%;
}

.ListaComents{
    padding-top: 35%;
}
